/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* IMPORTANT FOR MOBILE VISUALIZATION */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0
}
/* END IMPORTANT FOR MOBILE VISUALIZATION */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* WHOLE WEBSITE STRUCTURE */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Courgette&family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Great+Vibes&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/brittany-signature');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{margin: 0rem;}

html, body, #menu{margin: 0px;}

#whole_website{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "carousel1 carousel1"
    "counter counter"
    "couple couple"
    "places places"
    "itinerary itinerary"
    "carousel_grid carousel_grid"
    "bank bank"
    "registration registration"
    "foot foot";
}
#carousel1{grid-area: carousel1;}
#counter{grid-area: counter;}
#couple{grid-area: couple;}
#places{grid-area: places;}
#itineray{grid-area: itinerary;}
#carousel_grid{grid-area: carousel_grid;}
#bank{grid-area: bank;}
#registration{grid-area: registration;}
#foot{grid-area: foot;}

button:visited{text-decoration: none;}
button::after{text-decoration: none;}

*{
    /*Default Font-Family*/
    font-family: 'Albert Sans', sans-serif;
}
/* END WHOLE WEBSITE STRUCTURE */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* CAROUSEL1 [#carousel1] */
#carousel1{
    background-color: #000116;
    
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "slider2";
}
.slider2{grid-area: slider2;}

.slider2{
    /*Actual Carousel Area*/
    position: relative;
    background: #000116;
    height: 90vh;
    overflow: hidden;
}

.slider2 .slide2{
    /*Each Image Area Division*/
    position: absolute;
    width: 100vw;
    height: 90vh;
    clip-path: circle(0% at 100% 50%);
}
.slider2 .slide2.active2{
    /*Each Image Area Division when Active*/
    clip-path: circle(150% at 100% 50%);
    transition: 1.5s;
}

.slider2 .slide2.active2 img{
    /*Active image*/
    transition: 6s;
    transform: scale(1.3);
}

.slider2 .slide2.active2 .info2{
    /*Active Text*/
    transition: 6s;
    transform: scale(0.95);
}

.slider2 .slide2.active2 .info3{
    /*LOGO TABLE*/
    transition: 0.5s;
    transform: scale(0.99);
    position: absolute;
    width: 50px;
}
.slider2 .slide2.active2 .info3 .log{
    width: 50px;
    height: 50px;
}
.slider2 .slide2.active2 .info3 .loglobal{
    width: 50px;
    height: 50px;
}

.slider2 .slide2 img{
    /*Normal Image Configuration*/
    position: absolute;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    background-position: center center;
}

/* Text Over Images */
.slider2 .slide2 .info2{
    /*Container of Wedding's Header Text*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 288px;
    border-radius: 1rem;
    margin-top: 35vh;
    /*border: 3px solid #D3AC79;*/
}

.slider2 .slide2 .info3{
    /*Container of Global LOGO*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border-radius: 1rem;
    margin-top: 5vh;
    /*border: 3px solid #D3AC79;*/
}
.slider2 .slide2 .info3 .log{
    width: 50px;
    height: 50px;
}
.slider2 .slide2 .info3 .loglobal{
    width: 50px;
    height: 50px;
}


.slider2 .table_head{
    /*border: 2px solid chartreuse;*/
    width: 288px;
}

.r_border{
    border-right: 2px solid white;
    height: 10rem;
}
.nam{
    font-size: 1.7rem;
    font-family: 'Libre Baskerville', serif;
    color: white;
}
.date_h{
    font-size: 0.8rem;
    font-family: 'Libre Baskerville', serif;
    color: white;
    padding-top: 1rem;
}
.inv_h{
    font-size: 2rem;
    font-family: 'Brittany Signature', sans-serif;
    color: white;
    padding-top: 1rem;
}

.navigation2{
    /*Arrow Button Area*/
    height: 90vh; /*Same as Slider Height in order to center them Vertically*/
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    opacity: 0.8;
    transition: opacity 0.5s ease;
}
.slider2:hover .navigation2{
    /*Opacity of Arrow Buttons when hover*/
    opacity: 1;
}

.prev-btn2, .next-btn2{
    /*Common Arrow Buttons Configuration*/
    z-index: 999;
    font-size: 2rem;
    /*color: #222;*/
    color: white;
    padding: 10px;
    padding-bottom: 20px;
    cursor: pointer;
}

.prev-btn2{
    /*Previous Button*/
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.next-btn2{
    /*Next Button*/
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.navigation-visibility2{
    /*Mini-Squares at the Bottom Area*/
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibility2 .slide-icon2{
    /*Each Mini-Square Configuration*/
    z-index: 999;
    background: rgba(255, 255, 255, 0.3);
    width: 18px;
    height: 9px;
    transform: translateY(-30px);
    margin: 0 6px;
    border-radius: 3px;
}
  
.navigation-visibility2 .slide-icon2.active2{
    /*Mini-Square of the Current Image*/
    background-color: #D3AC79;
    filter: drop-shadow(0px 0px 5px black);
}
/* END CAROUSEL1 [#carousel1] */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* CUENTA REGRESIVA [#counter] */
#counter{
    background-image: url("images/leaves.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* ⚙⚙⚙ */
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
#countdown{
    /*Cuenta Regresiva Grid inside [#counter]*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0rem;
    align-items: center;
    color: black;
    /* ⚙⚙⚙ */
    border-radius: 1rem;
    background-color: #eaddca;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#b1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#b1 h1{
    color: #30593b;
    font-family: 'Libre Baskerville', serif;
}
#b1 p{
    width: 200px;
    margin-top: 1rem;
    color: #7c7c7c;
}
#timers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.time{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    background-color: #6c9577;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 130px;
    border-radius: 1rem;
}
#ready{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ready h1{
    font-family: 'Brittany Signature', sans-serif;
    text-align: center;
    font-size: 2.3rem;
    color: #7c7c7c;
    /*text-shadow: 0px 0px 10px crimson;*/
}
/* END CUENTA REGRESIVA [#counter] */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* DATOS DE PAREJA [#couple] */
#couple{
    /*Datos de Pareja whole grid*/
    background-image: url("images/j/v7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* ⚙⚙⚙ */
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
#couple_inner{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "novia phrase novio";
    background-color: rgba(46, 65, 39, 0.6);
}
#novia{grid-area: novia;}
#phrase{grid-area: phrase;}
#novio{grid-area: novio;}

.cdiv{
    /*Datos de Pareja Subarea*/
    padding: 2rem;
    border-radius: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#novio{
    color: white;
}
#novio h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    font-weight: 500;
}
#phrase p{
    font-size: 0.9rem;
    color: white;
    font-weight: lighter;
    font-family: 'Libre Baskerville', serif;
}

#novia{
    color: white;
}
#novia h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    font-weight: 500;
}
.cdiv h3{
    color: white;
    font-family: 'Brittany Signature', sans-serif;
    font-size: 1.2rem;
}
/* END DATOS DE PAREJA [#couple] */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* PLACES [#religious & #party] inside [#places] */
#places{
    /*Whole Religious and Party Grid*/
    padding: 0rem;
    background-image: url("images/leaves.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* ⚙⚙⚙ */
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "religious party";
}
#religious{grid-area: religious;}
#party{grid-area: party;}

.dimage{
    /*Santa Prisca and Jardin images*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 1rem;
}

.d_d{
    /* Global Place Type Container*/
    color: #30593b;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.sub_d{
    /*Text and Map Type of Container*/
    background-color: white;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.places_p1{
    font-family: 'Libre Baskerville', serif;
    color: #30593b;
    font-weight: 600;
    text-align: center;
}
.places_p2{
    font-family: 'Libre Baskerville', serif;
    color: #30593b;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
}
.places_p3{
    font-family: 'Libre Baskerville', serif;
    color: #30593b;
    font-weight: 600;
    text-align: center;
}
.map{
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    /*box-shadow: 0px 0px 10px #30593b;*/
}

.dimage:hover{
    transition: 2s;
    transform: scale(0.9);
    opacity: 0.8;
}
.dimage{
    transition: 2s;
    transform: scale(1);
    opacity: 1;
}
/* END PLACES [#religious & #party] inside [#places] */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ITINERARIO [#itinerary] */
table, tr, td{
    border-collapse: collapse;
}
td{
    padding: 0.5rem;
}
#itinerary{
    background-image: url("images/leaves4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
#itinerary_inner{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "fhead fhead"
    "flist fclothing";
    background-color: #2d553b;
}
#fhead{grid-area: fhead;}
#flist{grid-area: flist;}
#fclothing{grid-area: fclothing;}

#fhead h1{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}
#fhead p{
    width: 250px;
    color: white;
    text-align: center;
}
.fdiv{
    padding: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ftable{
    margin-right: auto;
    margin-left: auto;
}
.adjust_td{
    min-width: 80px;
}
.right_border{
    border-right: 3px dashed white;
    height: 4rem;
}
.fimage{
    width: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ftime{
    background-color: rgb(92, 141, 90);
    color: white;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    border-radius: 0.5rem;
    text-shadow: 0px 0px 10px black;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 0.8rem;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;

}
.left{
    text-align: left;
}
.bold{
    font-weight: 800;
}
.activity{
    font-size: 0.9rem;
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-weight: lighter;
}
.subplace{
    font-family: 'Brittany Signature', sans-serif;
    font-size: 1.2rem;
    color: white;
    font-weight: lighter;
}
#fclothing h3{
    font-size: 1.2rem;
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
}
#fclothing p{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    color: white;
    /*font-weight: lighter;*/
}
/* END ITINERARIO [#itinerary] */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* CAROUSEL 2 GRID [#carousel_grid] */
#carousel_grid{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #000116;*/
    background-color: #D3AC79;
}
.slider{
    /*Actual Carousel Area*/
    position: relative;
    /*background: #000116;*/
    background-color: #D3AC79;
    width: 90vw;
    height: 80vh;
    overflow: hidden;
    border-radius: 1rem;
}
.slider .slide{
    /*Each Image Area Division*/
    position: absolute;
    width: 90vw;
    height: 80vh;
    clip-path: circle(0% at 100% 50%);
}
.slider .slide.active{
    clip-path: circle(150% at 100% 50%);
    transition: 3s;
    transform: scale(1.3);
}
.slider .slide img{
    /*Image Configuration*/
    position: absolute;
    width: 90vw;
    height: 80vh;
    object-fit: cover;
    background-position: center center;
}

.navigation{
    /*Arrow Button Area*/
    height: 80vh; /*Same as Slider Height in order to center them Vertically*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.slider:hover .navigation{
    opacity: 1;
}
.prev-btn, .next-btn{
    /*Common Arrow Buttons Configuration*/
    z-index: 999;
    font-size: 2rem;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}
.prev-btn{
    /*Previous Button*/
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.next-btn{
    /*Next Button*/
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
.navigation-visibility{
    /*Mini-Squares at the Bottom Area*/
    z-index: 999;
    display: flex;
    justify-content: center;
}
.navigation-visibility .slide-icon{
    /*Each Mini-Square Configuration*/
    z-index: 999;
    background: rgba(255, 255, 255, 0.3);
    width: 18px;
    height: 9px;
    transform: translateY(-30px);
    margin: 0 6px;
    border-radius: 3px;
}
.navigation-visibility .slide-icon.active{
    /*Mini-Square of the Current Image*/
    background-color: #D3AC79;
    filter: drop-shadow(0px 0px 5px black);
}
/* END CAROUSEL 2 GRID [#carousel_grid] */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* DATOS BANCARIOS [#bank] */
#bank{
    /*background-color: #044181;*/
    background-image: url("images/leaves.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#bank_inner{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
    "hlogo htext bankdata";
    background-color: white;
}
#hlogo{grid-area: hlogo;}
#htext{grid-area: htext;}
#bankdata{grid-area: bankdata;}

.hdiv{
    padding: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.r_border_green{
    border-right: 2px solid #30593b;
    height: 10rem;
}
.nam_green{
    font-size: 1.7rem;
    font-family: 'Libre Baskerville', serif;
    color: #30593b;
}

#htext p{
    font-size: 1rem;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /*font-weight: 600;*/
    color: #30593b;
}

.bankimg{
    width: 100px;
}
.htable{
    margin-left: auto;
    margin-right: auto;
}
/*
.top_border{
    border-top: 2px solid #044181;
}
*/
.cat{
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    color: white;
}
.dat{
    color: white;
    font-weight: 400;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.gr{
    background-color: #6c9577;
}
/* END DATOS BANCARIOS [#bank] */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* CONFIRMACION DE ASISTENCIA [#registration] */
#registration{
    /*background-color: #FF5733;*/
    background-image: url("images/leaves4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
#registration_inner{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
    "icontact_planeadora ihead icontact_novios"
    "iguala iguala iguala";
    background-color: #2d553b;
}
#ihead{grid-area: ihead; z-index: 2;}
#icontact_planeadora{grid-area: icontact_planeadora;}
#icontact_novios{grid-area: icontact_novios;}
#iguala{grid-area: iguala;}


#ihead h1{
    font-family: 'Libre Baskerville', serif;
    color: white;
}
#ihead p{
    /*font-family: 'Libre Baskerville', serif;*/
    color: white;
    width: 280px;
}

.idiv{
    padding: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /*background-color: rgba(256, 256, 256, 0.2);*/
    /*backdrop-filter: blur(70px);*/
    /*-webkit-backdrop-filter: blur(70px);*/
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.idiv h3{
    /*font-size: 1.5rem;*/
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-transform: uppercase;

}
#customAddToCalendar {
    /*background-color: #00C5FF;*/
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: #2d553b;
    text-shadow: 0px 0px 10px #D3AC79;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 2rem;
  }
.fa{
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 2rem;
    font-size: 2rem;
    text-decoration: none;
}
.fa-whatsapp {
    background: #13990a;
}
#s1, #s2{
    font-size: 2rem;
}


.p2c{
    color: white;
    padding: 2rem;
}
.subplace_2{
    font-size: 0.75rem;
    color: white;
    text-align: justify;
}
/* END CONFIRMACION DE ASISTENCIA [#registration] */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* FOOT [#foot] */
#foot{
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: white;
}
#love{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#love p{
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}
.foot_logo{
    width: 60px;
}
#author_button{
    font-size: 0.8rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*color: #FF5733;*/
    color: #D3AC79;
    text-decoration: none;
    border-radius: 0.5rem;
    /*border-top: 3px solid #FF5733;*/
    border-top: 3px solid #D3AC79;
    /*border-bottom: 3px solid #FF5733;*/
    border-bottom: 3px solid #D3AC79;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}
/* END FOOT [#foot] */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/*font-family: 'Albert Sans', sans-serif;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Brittany Signature', sans-serif;*/


/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* REACTIVITY */
@media (max-width: 1000px){
    /*For TABLET AND HORIZONTAL SMARTPHONE*/
    #whole_website{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "carousel1"
        "counter"
        "couple"
        "places"
        "itinerary"
        "carousel_grid carousel_grid"
        "bank"
        "registration"
        "foot";
    }
    #carousel1{grid-area: carousel1;}
    #counter{grid-area: counter;}
    #couple{grid-area: couple;}
    #places{grid-area: places;}
    #itinerary{grid-area: itinerary;}
    #carousel_grid{grid-area: carousel_grid;}
    #bank{grid-area: bank;}
    #registration{grid-area: registration;}
    #foot{grid-area: foot;}
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #carousel1{
        height: 80vh;
    }
    .slider2{
        /*Actual Carousel Area*/
        height: 80vh;
    }
    .slider2 .slide2{
        /*Each Image Area Division*/
        height: 80vh;
    }
    .slider2 .slide2 img{
        /*Normal Image Configuration*/
        height: 80vh;
    }
    /* Text Over Images */
    .slider2 .slide2 .info2{
        /*Container of Wedding's Header Text*/
        margin-top: 10vh;
    }
    .slider2 .slide2 .info3{
        /*Container of Global Logot*/
        margin-top: 10vh;
    }
    .navigation2{
        /*Arrow Button Area*/
        height: 80vh; /*Same as Slider Height in order to center them Vertically*/
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #couple_inner{
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "novia novio"
        "phrase phrase";
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #places{
        /*Whole Religious and Party Grid*/
        display: grid;
        grid-gap: 0rem;
        grid-template-columns: 1fr;
        grid-template-areas:
        "religious"
        "party";
        background-color: white;
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #itinerary{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    #itinerary_inner{
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr;
        grid-template-areas:
        "fhead"
        "flist"
        "fclothing";
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #carousel_grid{
        height: 90vh;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .slider{
        /*Actual Carousel Area*/
        width: 90vw;
        height: 80vh;
    }
    .slider .slide{
        /*Each Image Area Division*/
        width: 90vw;
        height: 80vh;
    }
    .navigation{
        /*Arrow Button Area*/
        height: 80vh; /*Same as Slider Height in order to center them Vertically*/
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #bank{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    #bank_inner{
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr;
        grid-template-areas:
        "hlogo htext" 
        "bankdata bankdata";
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #registration{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    #registration_inner{
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: grid;
        grid-gap: 0.5rem;
        grid-template-areas:
        "ihead ihead"
        "icontact_planeadora icontact_novios"
        "iguala iguala";
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #foot{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
}

/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */

/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */

/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */

@media (max-width: 570px){
    /*For VERTICAL SMARTPHONE*/
    #whole_website{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "carousel1"
        "counter"
        "couple"
        "places"
        "itinerary"
        "carousel_grid"
        "bank"
        "registration"
        "foot";
    }
    #carousel1{grid-area: carousel1;}
    #counter{grid-area: counter;}
    #couple{grid-area: couple;}
    #places{grid-area: places;}
    #intinerary{grid-area: itinerary;}
    #carousel_grid{grid-area: carousel_grid;}
    #bank{grid-area: bank;}
    #registration{grid-area: registration;}
    #foot{grid-area: foot;}
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #carousel1{
        height: 90vh;
    }
    .slider2{
        /*Actual Carousel Area*/
        height: 90vh;
    }
    .slider2 .slide2{
        /*Each Image Area Division*/
        height: 90vh;
    }
    .slider2 .slide2 img{
        /*Normal Image Configuration*/
        height: 90vh;
    }
    /* Text Over Images */
    .slider2 .slide2 .info2{
        /*Container of Wedding's Header Text*/
        margin-top: 35vh;
    }
    .slider2 .slide2 .info3{
        /*Container of Global Logo*/
        margin-top: 1vh;
    }
    .navigation2{
        /*Arrow Button Area*/
        height: 90vh; /*Same as Slider Height in order to center them Vertically*/
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #timers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #couple{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    #couple_inner{
        grid-gap: 0.5rem;
        grid-template-columns: 1fr;
        grid-template-areas:
        "novia"
        "phrase"
        "novio";
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #places{
        /*Whole Religious and Party Grid*/
        display: grid;
        grid-gap: 0rem;
        grid-template-columns: 1fr;
        grid-template-areas:
        "religious"
        "party";
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #itinerary{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    #itinerary_inner{
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr;
        grid-template-areas:
        "fhead"
        "flist"
        "fclothing";
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #carousel_grid{
        height: 90vh;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .slider{
        /*Actual Carousel Area*/
        width: 90vw;
        height: 80vh;
    }
    .slider .slide{
        /*Each Image Area Division*/
        width: 90vw;
        height: 80vh;
    }
    .navigation{
        /*Arrow Button Area*/
        height: 80vh; /*Same as Slider Height in order to center them Vertically*/
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #bank{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    #bank_inner{
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr;
        grid-template-areas:
        "hlogo" 
        "htext" 
        "bankdata";
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #registration{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    #registration_inner{
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr;
        grid-template-areas:
        "ihead"
        "icontact_planeadora"
        "icontact_novios"
        "iguala";
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
    #foot{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    /* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
}
/* END REACTIVITY */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */
/* ⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙⚙ */